* {
  font-family: 'Nunito', sans-serif;
}

// Colors

@primaryColor: #4194c4;
@white: #fff;
@grey: #ccc;

::-moz-selection {
  color: @white;
  background: @primaryColor;
}

::selection {
  color: @white;
  background: @primaryColor;
}

.taskCompleted {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.btn {
  background-color: @primaryColor;
  color: @white;
}
